/* main */
.main .main_title {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

.main img {
    display: none;
}

.main video {
    width: 100%;
    object-fit: cover;
}

.main .main_offer {
    background-color: #fff;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    width: 1050px;
    height: 100px;
    z-index: 10;
}

.main .main_offer article {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
}

/* 공통 */
.main .main_offer article .offersearch {
    padding: 20px 25px;
    display: flex;
    align-items: center;
    border-right: 1px solid #e5e5e5;
    box-sizing: border-box;
    height: 100%;
}

.main .main_offer article .offerarea {
    margin-bottom: 10px;
}


.main .main_offer article .offerarea span {
    font-size: 12px;
    color: #888888;
}

/* 호텔 선택 */
.main .main_offer article .offersearch.hotel {
    min-width: 240px;
    padding-left: 30px;
}

.main .main_offer article .offersearch.hotel .text {
    font-size: 20px;
    font-weight: 600;
}

.main .main_offer article .offersearch.hotel .text input {
    border: none;
    outline: none;
    box-sizing: border-box;
    display: block;
    font-size: 20px;
    width: 100%;
}

.main .main_offer article .offersearch.hotel .text input::placeholder {
    color: #000;
}

.main .main_offer article .offersearch.hotel .text a {
    position: absolute;
    top: 0;
    right: 0;
}

.main .main_offer article .offersearch.hotel .text i {
    font-size: 18px;
}

/* 검색 버튼 */
.offer_btn {
    width: 160px;
    height: 100%;
    margin-left: auto;
}

.offer_btn button {
    font-size: 18px;
    font-weight: 600;
    background: #efe2c4;
    border: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

/* 호텔 검색 */
.main .main_offer .hotelsearch {
    position: absolute;
    width: 1050px;
    bottom: 110px;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
    z-index: 10;
    border-radius: 8px;
    display: none;
}

.main .main_offer .hotelsearch .hotel_top {
    padding: 30px;
    border-bottom: 1px solid #eaeaea;
}

.main .main_offer .hotelsearch .hotel_mid {
    padding: 30px;
}

.main .main_offer .hotelsearch .hotel_mid span {
    color: #856f56;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
    margin-left: 7px;
}

.main .main_offer .hotelsearch .hotel_mid h6 {
    margin-left: 7px;
    margin-bottom: 5px;
}

.main .main_offer .hotelsearch .hotel_mid .item {
    margin-bottom: 20px;
}

.main .main_offer .hotelsearch .hotel_mid .item ul {
    display: flex;
    gap: 10px;

}

.main .main_offer .hotelsearch .hotel_mid .pro ul {
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 0;
    width: 100%;
}

.main .main_offer .hotelsearch .hotel_mid .pro ul li {
    flex: 0 0 calc(20% - 18px);
    box-sizing: border-box;
}

.main .main_offer .hotelsearch .hotel_mid .item ul li a {
    display: inline-block;
    width: 164px;
    margin: 5px 0 0 6px;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    font-size: 12px;
    color: #999;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
}

.main .main_offer .hotelsearch .hotel_mid .country {
    display: flex;
    gap: 10px;
}

.main .main_offer .hotelsearch .hotel_mid .country ul li a {
    display: inline-block;
    width: 164px;
    margin: 5px 0 0 6px;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    font-size: 12px;
    color: #999999;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
}

.main .main_offer .hotelsearch .hotel_btn {
    text-align: center;
    margin-bottom: 15px;
}

.main .main_offer .hotelsearch .hotel_btn a {
    padding: 10px 20px;
    background-color: #666666;
    color: #fff;
    display: inline-block;
    font-size: 14px;
}


/* 체크인 / 체크아웃 */
.main .main_offer article .offersearch.day {
    min-width: 450px;
    padding-left: 40px;
}

.main .main_offer article .offersearch.day .check {
    width: 100%;
}

.main .main_offer article .offersearch.day .days {
    display: flex;
    width: 100%;
    align-items: center;
}

.main .main_offer article .offersearch.day .days li {
    font-size: 20px;
    font-weight: 600;
}

.main .main_offer article .offersearch .days .checkout {
    margin-left: 50px;
}

.main .main_offer article .offersearch .days .checkout::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 1px;
    background-color: #888888;
    display: block;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
}

/* 인원수 */
.main .main_offer article .offersearch.group {
    width: 20%;
    justify-content: center;
}

.main .main_offer article .offersearch.group .people {
    cursor: pointer;
}

.main .main_offer article .offersearch.group ul {
    display: flex;
    gap: 50px;
    text-align: center;
}

.main .main_offer article .offersearch.group li span {
    font-size: 12px;
    color: #888;
}

.main .main_offer article .offersearch.group li p {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

/* 투숙인원 검색 */
.main .main_offer .peoplesearch {
    position: absolute;
    width: 300px;
    bottom: 110px;
    right: 0;
    border-radius: 8px;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
    z-index: 10;
    padding: 20px;
    display: none;
}

.main .main_offer .peoplesearch .people_top h6 {
    display: inline-block;
    line-height: 30px;
}

.main .main_offer .peoplesearch .people_top i {
    float: right;
    top: 7px;
    font-size: 14px;
    cursor: pointer;
}

.main .main_offer .peoplesearch .people_mid {
    margin-top: 10px;
}

.main .main_offer .peoplesearch .people_mid ._people {
    padding: 20px 0;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.main .main_offer .peoplesearch .people_mid .people_txt {
    box-sizing: border-box;
    float: left;
}

.main .main_offer .peoplesearch .people_mid .people_txt p {
    display: inline-block;
}

.main .main_offer .peoplesearch .people_mid .people_txt span {
    font-size: 12px;
    color: #666666;
}

.main .main_offer .peoplesearch .people_mid .people_btn {
    float: right;
    display: flex;
    gap: 20px;
}

.main .main_offer .peoplesearch .people_mid .people_btn>div {
    border: 1px solid #cccccc;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main .main_offer .peoplesearch .people_mid .people_btn i {
    font-size: 10px;
    color: #888888;
}

.main .main_offer .peoplesearch .select_btn {
    margin-top: 30px;
    text-align: center;
}

.main .main_offer .peoplesearch .select_btn button {
    background-color: #666666;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

@media (max-width : 1000px) {
    .main video {
        height: 90vh;
    }

    .main .main_title {
        bottom: 22%;
    }

    .main .main_offer {
        width: 70%;
        bottom: -5%;
        height: inherit;
    }

    .main .main_offer article {
        display: block;
    }

    .main .main_offer article .offersearch.hotel {
        border-bottom: 1px solid #dddddd;
        height: 70px;
        width: 100%;
    }

    .main .main_offer article .offersearch.hotel .hotels {
        width: 100%;
    }

    .main .main_offer article .offersearch.hotel .hotels .text {
        width: 20%;
    }

    .main .main_offer article .offersearch.hotel .text input::placeholder {
        font-size: 18px;
    }
    
    .offer_btn {
        height: 70px;
        display: inline-block;
        width: 90%;
    }

    .offer_btn button {
        margin-left: 5%;
        height: 80%;
        margin-top: 1.3%;
    }

    .main .main_offer article .offersearch.day {
        width: 70%;
        min-width: 0;
        height: 70px;
        float: left;
        border-bottom: 1px solid #dddddd;
        padding-left: 25px;
    }

    .main .main_offer article .offersearch.day .days li {
        font-size: 18px;
    }

    .main .main_offer article .offersearch.group {
        width: 30%;
        height: 70px;
        padding: 0;
        border-bottom: 1px solid #dddddd;
    }

    .main .main_offer .hotelsearch {
        width: 100%;
        bottom: 75px;
    }

    .main .main_offer .hotelsearch .hotel_mid {
        padding: 20px;
    }

    .main .main_offer .hotelsearch .hotel_mid .item ul {
        gap: 5px;
    }

    .main .main_offer .hotelsearch .hotel_mid .item ul li a {
        width: 134px;
    }
    
    .main .main_offer .hotelsearch .hotel_mid .country {
        gap: 5px;
    }

    .main .main_offer .hotelsearch .hotel_mid .country ul li a {
        width: 134px;
    }
    
    .main .main_offer .hotelsearch .hotel_top {
        padding: 20px;
    }
    
    .main .main_offer .hotelsearch h4 {
        font-size: 16px
    }

    .main .main_offer .peoplesearch {
        bottom: 145px;
    }

    .main .main_offer article .offersearch.group .people {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* section1 */
/*.section1 .container_group {
    position: relative;
    height: 520px;
}

.section1 .container_wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1700px;
    overflow: hidden;
}

.section1 .container {
    display: flex;
    gap: 30px;
    width: max-content;
    opacity: 0;
}

.section1 .container .item {
    flex: 0 0 calc((100% - 88px) / 3);
    flex-shrink: 0;
}

.section1 .container_group .next, .section1 .container_group .prev {
    position: absolute;
    top: 50%;
    font-size: 32px;
}

.section1 .container_group .prev {
    left: 0;
    margin-left: 50px;
}


.section1 .container_group .next {
    right: 0;
    margin-right: 80px;
}

.section1 .container .img_box img {
    width: auto;
}

.section1 .seoul {
    opacity: 1;
}

.section1 .container .text_box {
    padding: 20px;
}

.section1 .container .text_box h4 {
    color: #846e54;
    font-weight: 600;
    margin-bottom: 10px;
}

.section1 .container .text_box h6 {
    font-weight: 600;
    margin-bottom: 20px;
}

.section1 .container .text_box ._date {
    color: #888888;
    font-weight: 600;
    margin-bottom: 20px;
}

.section1 .container .text_box h5 {
    font-weight: 600;
}*/

.section1 {
    padding: 80px 0;
    background-color: #f6f6f6;
}

.section1 .section_title .title1 h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.section1 .section_title .title2 ul {
    display: flex;
    gap: 20px;
}

.section1 .section_title .title2 ul li {
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.section1 .section_title .title2 ul li.active {
    background-color: #000;
    color: #fff;
}

.section1 .container_group {
    position: relative;
    height: 520px;
}

.section1 .container_wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1700px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.section1 .container_wrap:first-child {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}

.section1 .swiper-wrapper .text_box {
    padding: 20px;
}

.section1 .swiper-wrapper .text_box h4 {
    color: #846e54;
    font-weight: 600;
    margin-bottom: 10px;
}

.section1 .swiper-wrapper .text_box h6 {
    font-weight: 600;
    margin-bottom: 20px;
}

.section1 .swiper-wrapper .text_box ._date {
    color: #888888;
    font-weight: 600;
    margin-bottom: 20px;
}

.section1 .swiper-wrapper .text_box h5 {
    font-weight: 600;
}

.section1 .container_group .next, .section1 .container_group .prev {
    position: absolute;
    top: 50%;
    font-size: 32px;
}

.section1 .container_group .prev {
    left: 0;
    margin-left: 50px;
}


.section1 .container_group .next {
    right: 0;
    margin-right: 50px;
}

@media (max-width : 1000px) {
    .section1 .section_title {
        margin-top: 40px;
    }

    .section1 .container_group .prev {
        display: none;
    }

    .section1 .container_group .next {
        top: -14%;
        margin-right: 40px;
        font-size: 28px;
    }
}

/* section2 */
.section2 {
    padding: 80px 0;
}

.section2 img {
    width: auto;
}

.section2 .container {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.section2 .container .text_box h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section2 .container .text_box h5 {
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: 400;
}

.section2 .container .text_box .btn1 {
    font-weight: 700;
}


.section2 .container .text_box .btn2 {
    border-radius: 15px;
    color: #fff;
    background-color: #D7AA47;
    border: none;
    width: 200px;
}

.section2 .container .text_box .btn2 a {
    padding: 15px 20px;
    width: auto;
    display: block;
}

.section2 .container .text_box .btn2 i {
    padding-left: 20px;
}

@media (max-width : 1000px) {
    .section2 .container {
        gap: 10px;
    }

    .section2 .container .img_box {
        width: 50%;
    }

    .section2 img {
        width: 90%;
    }

    .section2 .container .text_box h3 {
        font-size: 24px;
    }

    .section2 .container .text_box h5 {
        font-size: 14px;
    }

    .section2 .container .text_box .btn2 {
        border-radius: 15px;
        padding: 0;
    }

    .section2 .container .text_box .btn2 a {
        width: auto;
        display: block;
        padding: 15px 20px;
    }
}

/* section3 */
/*.section3 .container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    transition: transform 1s cubic-bezier(.22,.61,.36,1);
    will-change: transform;
}*/
/*
.swiper-slide {
    flex-shrink: 0;
    transition: width 0.6s ease, height 0.6s ease;
}

.section3 .container .img_box {
    position: relative;
    width: 100%;
}

.section3 .container img {
    transition: transform 0.6s ease;
}

.section3 .container .img_box::after {
    content: '';
    display: block;
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.5));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.6s ease;
    opacity: 0;
}

.section3 .container .item {
    transition: width 0.6s ease, height 0.6s ease;
    position: relative;
    flex-shrink: 0;
}

.section3 .container .small, .section3 .container .item.large {
    flex-shrink: 0;
}
*/
/* section3 small */
/*.section3 .container .small img {
    width: 370px;
    height: 459px;
}

.section3 .container .small .text {
    margin-top: 10px;
}

.section3 .container .small .text .text_box1 {
    opacity: 1;
}

.section3 .container .small .text .text_box2 {
    opacity: 0;
    transition: opacity 0.4s ease;
}
*/
/* section3 large */
/*.section3 .container .swiper-slide-active {
    width: 497px;
    height: 580px;
}

.section3 .container .swiper-slide-active .img_box:after {
    opacity: 0.2;
}

.section3 .container .swiper-slide-active .text_box1 {
    opacity: 0;
}

.section3 .container .swiper-slide-active .text_box2 {
    opacity: 1;
}

.section3 .container .swiper-slide-active .text {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.section3 .container .swiper-slide-active .text_box2 h4 {
    margin-bottom: 20px;
}*/

.section3 {
    padding: 80px 0;
}

.section3 .section_title {
    margin-bottom: 70px;
}

.section3 .section_title .left {
    margin-bottom: 10px;
}

.section3 .section_title .left h3 {
    text-align: center;
    font-size: 32px;
}

.section3 .section_title .right {
    float: right;
    margin-right: 10px
}

.section3 .section_title .right i {
    margin-left: 5px;
}


.section3 .container {
    overflow: hidden;
}

.section3 .event_swiper {
    height: 610px;
    margin-left: -775px;
    left: 50%;
    overflow: visible;
}

.section3 .swiper-slide {
    width: auto !important;
    height: auto;
    position: relative;
}

.section3 .swiper-slide a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 370px;
    margin: 80px 15px 0;
    transition: height 0.5s linear;
}

.section3 .swiper-slide .img_box {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: all 0.5s linear;
    border-radius: 10px;
}

.section3 .swiper-slide a .img img {
    transition: 1s;
}

.section3 .swiper-slide img {
    width: 100%;
    height: 431px;
}

.section3 .swiper-slide .img_box:after {
    content: '';
    display: block;
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.5));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.section3 .swiper-slide .text {
    margin-top: 10px;
}

.section3 .swiper-slide .text .text_box1 {
    opacity: 1;
}

.section3 .swiper-slide .text .text_box2 {
    opacity: 0;
    transition: opacity 0.4s ease;
}

/*section3 active */
.section3 .swiper-slide-active {
    z-index: 1;
}

.section3 .swiper-slide-active a {
    width: 497px;
    margin-top: 0;
}

.section3 .swiper-slide-active img {
    height: 580px;
}

.section3 .swiper-slide-active .img_box:after {
    opacity: 1;
}

.section3 .swiper-slide-active .text .text_box1 {
    opacity: 0;
}

.section3 .swiper-slide-active .text .text_box2 {
    opacity: 1;
}

.section3 .swiper-slide-active .text {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.section3 .container .swiper-slide-active .text_box2 {
    width: 100%;
    margin-left: 60px;
}

.section3 .container .swiper-slide-active .text_box2 h4 {
    margin-bottom: 20px;
}

@media (max-width : 1000px) {
    .section3 .event_swiper {
        left: 0;
        margin-left: 0;
        width: 100%;
    }

    .section3 .swiper-slide-active img {
        width: 600px;
        transition: none;
    }

    .section3 .swiper-slide-active a {
        width: 600px;
        margin: 0;
    }

    .section3 .swiper-slide-active {
        width: 600px;
    }

    .section3 .swiper-slide {
        width: 600px !important;
        
    }
    .section3 .swiper-slide .img_box:after {
        transition: none;
    }

    .section3 .swiper-slide a {
        transition: none;
        margin: 0;
    }

    .section3 .swiper-slide-active a {
        transition: none;
    }

    .section3 .swiper-slide .img_box {
        transition: none;
    }
    
    .section3 .swiper-slide img {
        width: 600px;
        height: 600px;
    }

    .section3 .swiper-slide .text {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
    }

    .section3 .swiper-slide .text .text_box1 {
        opacity: 0;
    }

    .section3 .swiper-slide .text .text_box2 {
        opacity: 1;
        width: 100%;
        margin-left: 60px;
    }

    .section3 .swiper-slide .text .text_box2 h4 {
        margin-bottom: 20px;
    }

}

/* section4 */
.section4 {
    position: relative;
    margin: 80px 0;
    height: 725px;
    background-color: #f6f6f6;
}

.section4 .container img {
    width: auto;
}

.section4 .container {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    height: 100%;
}

/* left */
.section4 .container .left {
    width: 400px;
}

.section4 .container .left h2 {
    margin-bottom: 100px;
}

.section4 .container .left .title_tab ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section4 .container .left .title_tab ul li a {
    font-size: 18px;
    text-transform: uppercase;
    color: #888888;
    font-weight: 700;
}

.section4 .container .left .title_tab ul li.on a {
    color: #000;
    border-bottom: 2px solid #000;
}

/* right */
.section4 .container .right {
    position: relative;
    width: 889px;
    height: 439px;
    flex-shrink: 0;
}

.section4 .container .right .tab .tab_img {
    display: flex;
}

.section4 .container .right .tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.section4 .container .right .text_box {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.section4 .container .right .text_box h5 {
    text-transform: uppercase;
}

.section4 .container .right .tab .list_wrap {
    padding-top: 20px;
    width: 100%;
}

.section4 .container .right .tab .list_wrap .img_list {
    width: 100%;
    display: flex;
}

.section4 .container .right .tab .list_wrap .img_list .list {
    width: 20%;
}

.section4 .container .right .tab .list_wrap .img_list .list a {
    display: flex;
    flex-direction: column;
    color: #888888;
}

.section4 .container .right .tab .list_wrap .img_list .list a b {
    margin-top: 10px;
}

.section4 .container .right .tab .list_wrap .img_list .list.on a {
    color: #000;
}

.section4 .container .right .tab .list_wrap .img_list .list.on a span::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    animation: indi 1.5s forwards;
}

@keyframes indi {
    0% {
        width: 0;
    }
    100%{
        width: 100%;
    }
}

.section4 .container .right .tab .list_wrap .img_list .list a span {
    line-height: 40px;
}

.section4 .container .right .tab .list_wrap .img_list .list a span::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #888888;
}

.section4 .container .right .tab .list_wrap .img_list .list a span, .section4 .container .right .tab .list_wrap .img_list .list a b {
    font-size: 18px;
}

.section4 .container .right .tab {
    display: none;
}

.section4 .container .right .tab.active {
    display: block;
}

.section4 .container .right .tab .tab_img {
    position: relative;
    height: 439px;
    width: 100%;
    overflow: hidden;
}

.section4 .container .right .tab .tab_img .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.section4 .container .right .tab .tab_img .item.on {
    display: block;
}

.section4 .container .right .tab .tab_img .item {
    display: none;
}

.section4 .container .right .tab2 .list_wrap .img_list .list {
    width: 50%;
}

.section4 .container .right .tab3 .north .list_wrap .img_list .list {
    width: 33.33%;
}

.section4 .container .right .tab3 .south .list_wrap .img_list .list {
    width: 25%;
}

.section4 .container .right .tab3 .provinces .list_wrap .img_list .list {
    width: 12.5%;
}

.section4 .container .right .tab3 {
    top: -53px;
}

.section4 .container .right .tab3 .btn {
    padding:10px 20px;
    margin-bottom: 10px;
    background-color: inherit;
    border: 1px solid #888888;
    color: #888888;
    font-weight: 600;
    cursor: pointer;
}

.section4 .container .right .tab3 .btn.btn_on {
    border: 1px solid #000;
    color: #000;
    font-weight: 600;
}

.section4 .container .right .tab3 ._img {
    position: absolute;
    top: 53px;
    left: 0;
    width: 100%;
    display: none;
}

.section4 .container .right .tab3 ._img.active {
    display: block;
}

@media (max-width : 1000px) {
    .section4 .container {
        gap: 30px;
    }

    .section4 .container .left {
        width: 25%;
    }

    .section4 .container .left h2 {
        font-size: 24px;
        display: inline-block;
    }

    .section4 .container .right {
        width: 75%;
    }

    .section4 .container .left .title_tab ul li a {
        font-size: 14px;
    }
    .section4 .container .right .tab .tab_img {
        height: 380px;
    }

    .section4 .container .right .tab .tab_img .item {
        height: 100%;
    }

    .section4 .container .right .tab .tab_img .item .img_box {
        height: 100%;
    }

    .section4 .container img {
        width: 100%;
        height: 100%;
    }

    .section4 .container .right .text_box h4 {
        font-size: 16px;
    }
}

/* section5 */
.section5 {
    margin: 80px 0;
}

.section5 .section_title {
    text-align: center;
    margin-bottom: 50px;
}

.section5 .section_title h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section5 .section_title .h5 {
    font-weight: 500;
}

.section5 .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.section5 .container .img_box::after {
    content: '';
    display: block;
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.5));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.section5 .container img {
    width: auto;
}

.section5 .img_icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.section5 .text_box {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.section5 .text_box h6 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.section5 .container .item {
    width: 300px;
    height: 300px;
}

.section5 .container .item a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255,255,255,0.9);
    font-size: 60px;
    z-index: 1;
    display: none;
}

.section5 .container .item:hover a i {
    display: block;
}

.section5 .container .item a:hover::after {
    content: '';
    display: block;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.section5 .more_wrap {
    position: absolute;
    top: 65px;
    right: 110px;
}

@media (min-width: 1001px) {
    .section5 .swiper-wrapper {
        display: contents;
    }

    .section5 .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 40px;
    }

    .section5 .container {
        max-height: calc(300px * 2 + 40px);  /* 높이 계산 */
        overflow: hidden;
    }

}

@media (max-width: 1000px) {

    .section5 .container {
        display: flex;
        gap: 0;
    }

    .section5 .swiper-wrapper {
        display: flex;
    }

    .section5 .section_title h5 {
        font-size: 14px;
    }

    .section5 .more_wrap {
        right: 50px;
    }

    .section5 .more_wrap a {
        font-size: 14px;
    }

}