/* header */
header {
    background-color: rgba(0,0,0,0.8);
}

/* login */
.login {
    padding: 120px 0;
    margin-top: 80px;
    margin-bottom: 80px;
}

.login .login_top {
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 100px;
}

.login .login_top h5 {
    color: #846e54;
    margin-bottom: 10px;
}

.login .login_top h3 {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 10px;
}

.login .login_top h6 {
    font-weight: 500;
}

/* login bottom */
.login .login_bottom {
    background-color: #faf5f5;
    padding: 50px 0;
    height: 380px;
}

.login .login_bottom .box {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.login .login_bottom .login_form {
    display: flex;
}

.login .login_bottom .login_form>div {
    width: 50%;
}


/* login_bottom left */ 
.login .login_bottom .login_form .left {
    padding-right: 100px;
    border-right: 1px solid #e9e9e9;
}

.login .login_bottom .login_form .login_tab {
    margin-bottom: 10px;
}

.login .login_bottom .login_form .login_tab ul {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.login .login_bottom .login_form .login_tab ul li {
    display: table-cell;
    height: 48px;
}

.login .login_bottom .login_form .login_tab ul li.on a {
    color: #846e54;
    border: 1px solid #846e54;
}

.login .login_bottom .login_form .login_tab ul li a {
    display: block;
    text-align: center;
    height: 48px;
    line-height: 48px;
    border: 1px solid #e9e9e9;
}

/* 회원 */

.login .login_bottom .form_box {
    display: none;
}

.login .login_bottom .form_box.on {
    display: block;
}

.login .login_bottom .form_box .form input {
    height: 56px;
    width: 100%;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.login .login_bottom .form_box .form input::placeholder {
    color: #c4c4c4;
}

.login .login_bottom .form_box .find_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login .login_bottom .form_box .find_info input {
    display: none;
}

.login .login_bottom .form_box .find_info .auto {
    display: flex;
    align-items: center;
}

.login .login_bottom .form_box .find_info .au1 {
    display: none;
}

.login .login_bottom .form_box .find_info .auto .icon {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #666666;
    background-color: #fff;
}

.login .login_bottom .form_box .find_info .auto .icon::before {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 5px;
    height: 10px;
    transform: translateX(110%) translateY(20%) rotateZ(40deg);
    border-right: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
}

.login .login_bottom .form_box .find_info .auto label {
    padding-left: 22px;
    font-size: 14px;
}

.login .login_bottom .form_box .find_info [type = 'checkbox']:checked + .auto .icon {
    border-color: #fff;
    background-color: #000;
}

.login .login_bottom .form_box .find_info [type = 'checkbox']:checked + .auto .icon::before {
    border-color: #fff;
}

.login .login_bottom .form_box .other_login {
    font-size: 14px;
}

.login .login_bottom .form_box .form_btn {
    width: 100%;
    height: 56px;
    background-color: #000;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
}

.login .login_bottom .form_box .other {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    margin-bottom: 20px;
}

.login .login_bottom .form_box .other .other_group {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .login_bottom .form_box .other .other_group a {
    font-size: 14px;
}

.login .login_bottom .form_box .other .other_group:nth-child(2)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 14px;
    background-color: #dddddd;
}

.login .login_bottom .form_box .sns_login {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.login .login_bottom .form_box .sns_login a .icon {
    background-size: cover;
    width: 40px;
    height: 40px;
    display: block;
}

.login .login_bottom .form_box .sns_login a .icon1 {
    background-image: url(img/login/kakao.png);
}

.login .login_bottom .form_box .sns_login a .icon2 {
    background-image: url(img/login/naver.png);
}

.login .login_bottom .form_box .sns_login a .icon3 {
    background-image: url(img/login/apple.png);
}

.login .login_bottom .form_box .sns_login a .icon4 {
    background-image: url(img/login/google.png);
    border: 1px solid #888888;
    border-radius: 50%;
}

/* 비회원 */
.login .login_bottom .form_box .be_loginbtn {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 30px 0 20px 5px; 
}

.login .login_bottom .form_box .be_form {
    display: none;
}

.login .login_bottom .form_box .be_form.on {
    display: block;
}

.login .login_bottom .form_box .be_form input {
    height: 56px;
    width: 100%;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.login .login_bottom .be_form input::placeholder {
    color: #c4c4c4;
}

.login .login_bottom .form_box .be_form .input_pw {
    display: flex;
}

.login .login_bottom .form_box .be_form .input_pw input:first-child {
    margin-right: 5px;
}

.login .login_bottom .form_box .be_loginbtn .parlor, .login .login_bottom .be_form_box .be_loginbtn .dining {
    display: table-cell;
}

.login .login_bottom .form_box .be_loginbtn .parlor {
    width: 160px;
}

.login .login_bottom .form_box .be_loginbtn input {
    display: none;
}

.login .login_bottom .form_box .be_loginbtn .auto {
    display: flex;
    align-items: center;
}

.login .login_bottom .form_box .be_loginbtn .auto span {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #666666;
    background-color: #fff;
    border-radius: 50%;
}

.login .login_bottom .form_box .be_loginbtn input:checked + .auto span {
    border: 1px solid #846e54;
}


.login .login_bottom .form_box .be_loginbtn input:checked + .auto span::before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    background-color: #846e54;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.login .login_bottom .form_box .be_loginbtn .auto label {
    padding-left: 22px;
    font-size: 14px;
}

.login .login_bottom .form_box .find_info .au1 label {
    font-size: 12px;
}

.login .login_bottom .form_box .be_form_btn {
    width: 100%;
    height: 56px;
    background-color: #000;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
}

.login .login_bottom .login_note {
    margin-top: 40px;
    display: none;
}

.login .login_bottom .login_note .note_box {
    padding: 30px;
    background-color: #f5f5f5;
}

.login .login_bottom .login_note .note_box ul {
    line-height: 30px;
}

.login .login_bottom .login_note .note_box ul li {
    padding-left: 10px;
}

.login .login_bottom .login_note .note_box ul li::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 2px;
    background-color: #000;
}

.login .login_bottom .join_wrap {
    margin-top: 30px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 20px 0;
    display: none;
}

.login .login_bottom .join_wrap a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.login .login_bottom .join_wrap a:hover .item_right {
    background-color: #000;
    color: #fff;
    transition: 0.5s;
}

.login .login_bottom .join_wrap a .item_left {
    width: 80%;
}

.login .login_bottom .join_wrap a .item_right {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.login .login_bottom .join_wrap a h5 {
    font-weight: 600;
    line-height: 24px;
}

.login .login_bottom .join_wrap a h6 {
    font-weight: 400;
    margin-top: 5px;
}

/* login_bottom right*/
.login .login_bottom .login_form .right {
    padding-top: 75px;
    padding-left: 80px;
}


.login .login_bottom .login_form .right .join_box h4 {
    color: #846e54;
    margin-bottom: 30px;
}

.login .login_bottom .login_form .right .join_box .note {
    margin-bottom: 30px;
    padding-left: 20px;
}

.login .login_bottom .login_form .right .join_box .note li {
    line-height: 24px;
    color: #666666;
}

.login .login_bottom .login_form .right .join_box .note li::before {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 5px;
    height: 10px;
    top: 5px;
    left: -15px;
    transform: rotateZ(40deg);
    border-right: 2px solid #666666;
    border-bottom: 2px solid #666666;
}


.login .login_bottom .login_form .right .join_box .btn {
    width: 100%;
    height: 56px;
    background-color: #fff;
    color: #846e54;
    border: 1px solid #846e54;
    margin-bottom: 20px;
    cursor: pointer;
    line-height: 56px;
    text-align: center;
}

.login .login_bottom .login_form .right .join_box .btn:hover {
    background-color: #846e54;
    color: #fff;
}

@media (max-width : 1000px) {
    .login .login_top {
        margin-bottom: 30px;
    }
    .login .login_top h5, .login .login_top h6 {
        display: none;
    }

    .login .login_top h3 {
        text-align: center;
    }

    .login .login_bottom {
        background-color: inherit;
        height: 600px;
    }

    .login .login_bottom .login_form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login label {
        display: block;
    }

    .login .login_bottom .login_form .left {
        border: none;
        padding: 0;
    }

    .login .login_bottom .login_note {
        display: block;
    }

    .login .login_bottom .join_wrap {
        display: block;
    }

    .login .login_bottom .right {
        display: none;
    }

    .login .login_bottom .form_box .find_info .auto {
        display: flex;
        display: none;
    }

    .login .login_bottom .form_box .find_info .au1 {
        display: block;
    }

    .login .login_bottom .form_box .other_login {
        display: none;
    }

    .login .login_bottom .form_box .other {
        display: block;
        display: flex;

    }


}